h1 {
  color: blue;
  background-color: white;
}

.heading {
  text-align: center;
}

/* body {
  background-color: lightblue;
} */

button {
  background-color: lightgreen;
  color: orangered;
}

.item {
  align-items: center;
}

.box {
  height: 300px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: aquamarine;
}

#box {
  height: 300px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: aquamarine;
}

.para {
  color: Red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 5rem;
}

.newpara {
  color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: peru;
}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}
