* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.choice {
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: black;
}

.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

.score {
  font-size: 2rem;
  padding: 10px;
}

.msg-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 3.5rem;
}
#msg {
  background-color: black;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 10px;
  border-radius: 10px;
}

#user-score {
  font-size: 4rem;
}
#computer-score {
  font-size: 4rem;
}
